---
---
@import 'main';

/* append your custom style below */
pre {
  tab-size: 2;
}

/* Apply the background image to the body or main container */
body {
  background: url('/assets/img/WTbackground.png');
  background-size: cover; /* Ensure the image covers the entire body */
  background-attachment: fixed; /* Fix the background so it doesn't scroll */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
}
// footer {
//   background: rgba(0, 0, 0, 0.01); 
//   padding: 10px 20px; /* Add some padding */
//   position: relative;
// }
// /* Make the sidebar background transparent */
#sidebar {
  background: none; /* No background, allowing the body image to show */
}

// #sidebar ul li a {
//   background: rgba(0, 0, 0, 0.8); 
// }

/* Add a transparent overlay to the main wrapper */
#main-wrapper {
  background: rgba(58, 58, 58, 0.8); /* Semi-transparent white background */
  position: relative;
  z-index: 1; /* Ensure content is above the background */
}
